* { margin: 0; padding: 0; outline: 0; }
html, body { width: 100%; height: 100%; }
ul { margin-left: 30px; }
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    color: #111;
    background: rgb(137,137,186);
    background: linear-gradient(to bottom, rgba(137,137,186,1) 0%,rgba(137,137,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=0 );
}
#container {
    position: absolute;
    width: 700px;
    margin: 80px 0 50px -350px;
    left: 50%;
}
.header {
    font-size: 36px;
    font-weight: 700;
    margin: 0 10px 5px 10px;
}
.header img {
    vertical-align: -1px;
}
.header a { color: white; text-decoration: none; }
.body {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}
h1 { font-weight: 700; font-size: 24px; text-transform: uppercase; margin: 0 0 20px 0; }
p { line-height: 120%; margin: 10px 0; }
a { color: #333; }
pre { font-size: 14px; white-space: pre-wrap; }

#presentations_index .presentations .presentation {
    float: left;
    width: 21%;
    height: 140px;
    background-color: #ddd;
    background: linear-gradient(to bottom, #ddd 0%, transparent 50%);
    border-radius: 5px;
    margin: 0 2% 20px;
    overflow: hidden;
}
#presentations_index .presentations .presentation a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
#presentations_index .presentations .presentation i { margin-bottom: 10px; }

.clearfix { clear: both; }