<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} | trumpet</title>
    
    <link rel="stylesheet" type="text/css" href="/internal/styles.css">
</head>
<body>
    <div id="container">
        <div class="header">
            <a href="/">
                <img src="/internal/elephant.svg" width="36">
                trumpet
            </a>
        </div>
        <div class="body">
            {{{content}}}
        </div>
    </div>
</body>
</html>