<div id="presentations_index">
    <h1>Select your presentation</h1>
    
    <div class="presentations">
        {{#each presentations}}
            <div class="presentation">
                <a href="{{url}}">
                    <i class="fa fa-file-powerpoint-o fa-3x"></i><br>
                    {{title}}
                </a>
            </div>
        {{/each}}
        <div class="presentation new">
            <a href="/?new">
                <i class="fa fa-plus-circle fa-3x"></i><br>
                Create New Presentation 
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>